<section class="signup-form">
	<form [formGroup]="form" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0.5em" (ngSubmit)="onSubmit(form)">
		<mat-form-field>
			<mat-label>Name</mat-label>
			<input 
				matInput
				required
				[formGroup]="form"
				formControlName="name"
				type="text"
			/>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Email Address</mat-label>
			<input 
				matInput
				required
				[formGroup]="form"
				formControlName="email"
			/>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Phone</mat-label>
			<input 
				matInput
				required
				[formGroup]="form"
				formControlName="phone"
			/>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Profile</mat-label>
			<mat-select formControlName="profile" [formGroup]="form" required>
				<mat-option *ngFor="let profile of profiles" [value]="profile.value">
					{{ profile.viewValue }}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Password</mat-label>
			<input 
				matInput
				password
				required
				[formGroup]="form"
				formControlName="password"
				type="password"
				minlength="6"
			/>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Confirm Password</mat-label>
			<input 
				matInput
				password
				required
				[formGroup]="form"
				formControlName="confirmedPassword"
				[errorStateMatcher]="matcher"
				type="password"
				minlength="6"
			/>
			<mat-error *ngIf="form.hasError('notSame')">
        Passwords do not match
    	</mat-error>  
		</mat-form-field>
		<button mat-button type="submit" color="primary" [disabled]="form.invalid">Join Our Family</button>
	</form>
</section>
