<mat-toolbar class="footer" fxLayout="column" fxLayoutAlign="center center">
	<mat-toolbar-row fxLayoutAlign="center center" class="social_media">
		<a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
		<a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
		<a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
		<a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>
	</mat-toolbar-row>
	<mat-toolbar-row fxLayoutAlign="center center" class="footer_text">
		<a href="#login">Copyright</a>
		<a href="#login">Terms and Policies</a>
		<a href="#login">FAQ</a>
	</mat-toolbar-row>
	<mat-toolbar-row fxLayoutAlign="center center" class="acknowledgement">
		<h6>Developed by GradPanda Inc.</h6>
	</mat-toolbar-row>
</mat-toolbar>