<section class="carousel" fxShow.lt-md="false">
	<div class="carousel">
		<img  src="../../assets/about_banner_optimized.png" alt="product banner" width="100%" fxShow.lt-md="false"/>
	</div>
</section>
<section class="about" fxLayout="row" fxLayout.lt-md="column">
	<section class="about-title-container" fxLayoutGap="1rem" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
		<section class="panda-container">
			<img src="../../assets/happy-panda.png" width="160" height="240" alt="happy panda" />
		</section>
		<section class="about-title">
			<p>We'll Make You Look Good at Graduation :&#41;</p>
		</section>
	</section>
	<section class="about-text-container" fxLayout="column" fxLayoutAlign="flex-start center" fxLayoutGap="2rem">
		<section class="about-text">
			<p>Gradpanda.com is a two-sided peer-to-peer e-commerce website that offers graduation regalia for purchase as well as the option to rent it out. Our products are of the highest quality and at the most competitive rates. You will never have a complaint as we pride ourselves on exemplary customer service. Even if you do, our mascot Midori, will ensure that we make things right again. At GradPanda, we won't ever take your order unless we're certain that we can deliver it to you in the timeframe that you need it in.</p>
			<p>Graduations are the happiest of times for students, when they step out to celebrate their achievements and remember an era in their lives. Midori and all of us are committed to outfitting students affordably for such a momentous occasion. Midori would be very unhappy if a student had to pass on such an event because of financial hardship. All of us are here for you.</p>
		</section>
	</section>
</section>