button {
	background-color: #8ABAD3;
	color: white;
	width: 100%;
	position: relative;
	bottom: 300px;
}

.error-page-banner > img {
	width: 60%;
	margin-bottom: 18rem;
}

#mobile-error-page {
	display: none;
}

@media screen and (max-width: 600px) {	
	a {
		width: 40%;
	}
	button {
		bottom: 15%;
	}
	#desktop-error-page {
		display: none;
	}
 	
	#mobile-error-page {
		width: 60%;
		display: block;
		margin-bottom: 5rem;
	}
}
